.Header {
  text-align: center;
}

.Header .Title {
  font-family: "Love Ya Like A Sister";
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

.Header .sub-title {
  font-family: "Grandstander", cursive;
  font-size: 1.2rem;
  margin-top: 5px;
  opacity: 0.7;
}

.Title .letter-D {
  color: #8860d0;
} /* Purple */
.Title .letter-i {
  color: #ffcad4;
} /* Pink */
.Title .letter-c {
  color: #f4a261;
} /* Orange */
.Title .letter-t {
  color: #2a9d8f;
} /* Teal */
.Title .letter-i2 {
  color: #8860d0;
} /* Purple */
.Title .letter-o {
  color: #ffcad4;
} /* Pink */
.Title .letter-n {
  color: #f4a261;
} /* Orange */
.Title .letter-a {
  color: #2a9d8f;
} /* Teal */
.Title .letter-r {
  color: #8860d0;
} /* Purple */
.Title .letter-y {
  color: #ffcad4;
} /* Pink */

@media (min-width: 992px) {
  .Title {
    font-size: 3rem;
  }
  .sub-title {
    font-size: 1.25rem;
  }
}
