.right-side {
  display: flex;
  justify-items: space-around;
  align-items: center;
  gap: 15px;
}
.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 2rem;

  align-self: flex-end;
}

.Header {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  border: 1px solid rgb(129, 126, 129);
  padding: 0.5rem;
}

.spacer {
  flex-grow: 1;
}
.Title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  line-height: 0.9;
}
.sub-title {
  font-size: 0.8rem;
  font-weight: 400;
  color: #6c757d;
  margin: 0.5rem 0 0 0;
}
.left-side .Logo {
  width: 150px;
  height: 150px;
}

@media (min-width: 992px) {
  .Logo {
    width: 90px;
    height: 90px;
  }
  .Title {
    font-size: 3rem;
  }
  .sub-title {
    font-size: 1.25rem;
  }
}
