.Meanings {
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #f0f0f0;
}

.Meanings:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.partOfSpeech {
  font-size: 0.75rem;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-bottom: 1rem;
}

.definition {
  line-height: 1.2;
  margin-bottom: 1rem;
  color: purple;
  font-weight: 600;
}

.example {
  color: #6c757d;
  font-style: italic;
  margin-bottom: 0.75rem;
}
