.word {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
  color: var(--primary-color);
  margin: 0;
}

.Results {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  margin-top: 30px;
  margin-bottom: 30px;
}
.save-button {
  background: none;
  border: none;
  font-size: 2rem;
  transition: all 150ms ease-in-out;
}
.save-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.Spacer {
  flex-grow: 1;
}
.collection-toggle-button {
  font-size: 30px;
  border: none;
  background: none;
}
