.word {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
  color: var(--primary-color);
  margin: 0;
}

.Results {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  margin-top: 30px;
  margin-bottom: 30px;
}
.Results .save-button,
.Results .collection-toggle-button {
  border: none;
  border-radius: 50%; /* Makes them circular */
  width: 45px;
  height: 45px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-button:hover {
  transform: scale(1.2);
}
.Spacer {
  flex-grow: 1;
}

.my-saved-words {
  font-size: 14px;
}
