.Search {
  max-width: 400px;
  margin: 0;
  flex-grow: 1;
  margin-left: 20px;

  max-height: min-content;
}

.SearchBar {
  width: 100%;
  align-items: center;
  width: 100%;

  border: 2px solid #b375e9;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 0.5rem;
}

.SearchBar:focus {
  outline: none;
  border-color: #6d09c5;
  box-shadow: 0 0 5px 4px rgba(155, 89, 182, 0.25);
}
@media (max-width: 900px) {
  .Search {
    width: 100%;
    margin-top: 20px;
    order: 1;
    margin: 20px 0;
  }
}
