.StudyList {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  margin-top: 20px;
}

.StudyList h2 {
  font-family: "Grandstander";

  color: var(--primary-color);
  margin-bottom: 20px;
}

.saved-word-item {
  display: flex;
}
.star-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgb(113, 110, 114);
}
.saved-word-item::before {
  content: "★";
  color: var(--accent-color);
  margin-right: 10px;
  font-size: 1.2rem;
}
