.Synonyms {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.Synonyms li {
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--accent-color);

  padding: 8px 16px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Synonyms li:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.empty-state p {
  font-family: "Grandstander", cursive;
}
