.App {
  max-width: 800px;
  margin: 2rem auto;
}
.container {
  border: 3px solid var(--secondary-color);
  box-shadow: 0 0.25px 0.55rem rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 0.5rem;

  background-color: var(--secondary-color);
}
