:root {
  --background-color: #fff9f5;
  --text-color: #4a4a4a;
  --primary-color: #8860d0;
  --secondary-color: #d2daf8;
  --accent-color: #f69eae;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
